<!DOCTYPE html>
<html>
    <head>
        <title>Tarun's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Tarun's Blog</a></h1>
        </header>

        <article>
            <time>published: 15.02.2025, 12:26</time>
            <h2><a href="">My first post</a></h2>
            <p> Your subdomain name is normally your PythonAnywhere user name, but in some cases it might be a bit different (such as if your user name contains capital letters).</p>
        </article>

        <article>
            <time>published: 15.02.2025, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>We're almost there, now it's time to tell it to save this change in its history. We're going to give it a "commit message" where we describe what we've changed. You can type anything you'd like at this stage, but it's helpful to type something descriptive so that, in the future, you can remember what you've done.</p>
        </article>
    </body>
</html>